.header-container{
    height: 120px;
    background-color: var(--myPuple);
    display: flex;
    align-items: center;
}
.header-label{
    font-size: var(--fontSizeHeader);
    font-weight: var(--fontWeightBold);
    margin: 10px;
    background-color: var(--myMint);
    border: 1px var(--myDarkGreen);
    border-radius: 20px;
    height: 50px;
    width: 200px;
    padding: 5px;
    cursor: pointer;
    color: var(--fontColor);
    display: flex;
    align-items: center;
    justify-content: center;
}


